<input type="checkbox" id="checkbox"> Turn me on and off

<p id="ping"></p>

<p id="pong"></p>

<p class="hmmm"></p>
<p class="hmmm"></p>
<p class="hmmm"></p>
<p class="hmmm"></p>
<p class="hmmm"></p>
<p class="hmmm"></p>
<p class="hmmm"></p>