<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Page Title</title> 
  <%= stylesheet_link_tag "application", :cache => true %>
  <script src="http://www.google.com/jsapi"></script>
  <script type="text/javascript" charset="utf-8">
    google.load("jquery", "1.3.2");
    google.load("jqueryui", "1.7.2");
  </script>
  <%= javascript_include_tag "application", :cache => true %>
</head>
<body>

  <%= yield %>

</body>
</html>